<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="CoarseFineLocation">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_ELigas"
        tools:targetApi="31">
        <activity
            android:name="com.example.not_resident_dam"
            android:exported="false" />
        <activity
            android:name="com.example.app_e_ligas.uploadValidId"
            android:exported="false" />
        <activity
            android:name="com.example.app_e_ligas.barangay_cencus"
            android:exported="false" />

        <service
            android:name="com.example.app_e_ligas.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Add all activities here -->
        <activity
            android:name="com.example.app_e_ligas.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.example.app_e_ligas.BarangayOfficialsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.app_e_ligas.Profile"
            android:exported="false" />
        <activity
            android:name="com.example.app_e_ligas.Terms_and_Condition"
            android:exported="false" />
        <activity
            android:name="com.example.app_e_ligas.bottom_sheet_layout"
            android:exported="false" />
        <activity
            android:name="com.example.app_e_ligas.about_usActivity"
            android:exported="false" />
        <activity
            android:name="com.example.app_e_ligas.dam_monitoringActivity"
            android:exported="false" />
        <activity
            android:name="com.example.app_e_ligas.barangay_emergencyActivity"
            android:exported="false" />
        <activity
            android:name="com.example.app_e_ligas.barangay_servicesActivity"
            android:exported="false" />
        <activity
            android:name="com.example.app_e_ligas.barangay_eventsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.app_e_ligas.DrawerBasedActivity"
            android:exported="false" />
        <activity
            android:name="com.example.app_e_ligas.DashboardActivity"
            android:exported="true" />
        <activity
            android:name="com.example.app_e_ligas.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.example.app_e_ligas.Ligas1Activity"
            android:exported="false" />
        <activity
            android:name="com.example.app_e_ligas.YourNextActivity"
            android:exported="false" />
        <activity
            android:name="com.example.app_e_ligas.SignInActivity"
            android:exported="false" />
        <activity
            android:name="com.example.app_e_ligas.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.example.app_e_ligas.SubmitReport"
            android:exported="true" />
        <activity
            android:name="com.example.app_e_ligas.PendingReport"
            android:exported="false" />
        <activity
            android:name="com.example.app_e_ligas.WecolmeAcvtivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.app_e_ligas.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.app_e_ligas.MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>